$side-bar-width: 320px;
$top-bar-height: 52px;
$bottom-bar-height: 89px;


$font-size-xxxs: 10px;
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 22px;
$font-size-xl: 26px;
$font-size-xxl: 28px;

$line-height-xxxs: 8px;
$line-height-xxs: 16px;
$line-height-xs: 20px;
$line-height-sm: 24px;
$line-height-md: 28px;
$line-height-lg: 32px;
$line-height-xl: 36px;

$font-family-santander: "GothamMedium";