:root {
  --color-background-pinfo: #E9F1F5;
  --color-active-item: #A6D8E8;
  --color-active-soft-item: #E9F5F9;
  --color-hover-item: #E8ECF1;
  --color-active-store: #D1DAE4;
  --color-font-primary: #292C2D;
  --color-font-printado: #79C5DD;
  --color-font-primary-rgb-soft: rgba(41, 44, 45, 0.2);
  --color-font-soft: #5D6164;
  --color-font-very-soft: #A5A9B0;
  --color-font-pinfo: #768FAD;
  --color-divider: #E8ECF1;
  --color-border: #292C2D33;
  --color-santander: #EB0A00;
  --color-action-primary: #1A4477;
  --color-action-primary-disabled: #A3B4C9;
  --color-border-input: #D6DADE;
  --color-border-cards: #F3F6F9;
  --color-border-cards-soft: #F1F1F1;
  --color-border-cards-hover: #cccaca;
  --color-back-promotions: #D2ECF4;
  --color-active-button: #E8ECF1;
  --color-multi-store: #F5F7FA;
  --color-multi-store-font: #333333;
  --color-discontinued: #E8ECF1;
  --color-no-stock: #FAEAEA;
  --color-no-stock-icon: #D12E31;
  --color-mailing: #E8ECF1;
  --color-mailing-icon: #486992;
  --color-category-icon: #CAD1D8;
  --color-category-icon-background: #F3F6F9;
  --color-cancel: #D12E31;
  --color-cancel-hover: rgba(209, 46, 49, 0.1);
  --color-cancel-disabled: rgba(209, 46, 49, 0.3);
  --color-printado-prices: #209EC6;
  --color-very-soft-hover: #fafafa;
  --color-very-soft-border: #CDCFD2;
  --color-info-back: #F2F6FB;
  --color-success-back: #EBFFEE;
  --color-success-font: #009951;
  --color-alert-info-back: #486992;
  --color-alert-error-font: #A0080A;
  --color-alert-error-back: #FAEAEA;
}

.dark {
  --color-background-pinfo: #1d252a;
  --color-active-item: #335b66;
  --color-active-soft-item: #223036;
  --color-hover-item: #2b363e;
  --color-active-store: #3e4b57;
  --color-font-primary: #ffffff;
  --color-font-printado: #6ec9df;
  --color-font-primary-rgb-soft: rgba(255, 255, 255, 0.2);
  --color-font-soft: #b0b3b5;
  --color-font-very-soft: #888b90;
  --color-font-pinfo: #a3bdd4;
  --color-divider: #31383e;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-santander: #ff4f4f;
  --color-action-primary: #3a6dab;
  --color-action-primary-disabled: #4e6377;
  --color-border-input: #47525a;
  --color-border-cards: #2a3238;
  --color-border-cards-soft: #2f373d;
  --color-border-cards-hover: #3c4349;
  --color-back-promotions: #305c68;
  --color-active-button: #2e3941;
  --color-multi-store: #2c363d;
  --color-multi-store-font: #e0e0e0;
  --color-discontinued: #2f3942;
  --color-no-stock: #543737;
  --color-no-stock-icon: #f05f5f;
  --color-mailing: #3c4751;
  --color-mailing-icon: #6b91b7;
  --color-category-icon: #4f5a63;
  --color-category-icon-background: #1f262b;
  --color-cancel: #f05f5f;
  --color-cancel-hover: rgba(240, 95, 95, 0.1);
  --color-cancel-disabled: rgba(240, 95, 95, 0.3);
  --color-printado-prices: #4cbcd9;
  --color-very-soft-hover: #1f1f1f;
  --color-very-soft-border: #505050;
  --color-info-back: #1a2a3a;
  --color-success-back: #143d2e;
  --color-success-font: #3effaf;
  --color-alert-info-back: #223344;
  --color-alert-error-font: #ff5c5c;
  --color-alert-error-back: #3e2525;
}