$phone: 458px;
$tablet: 810px;
$notebook: 1280px;
$pc: 1920px;

$fold_max: 350px;
$phone_max: 457px;
$tablet_max: 809px;
$notebook_max: 1279px;
$pc_max: 1919px;

$tablet_height_max: 809px;
$notebook_height_max: 719px;